.badge {
    background-color: rgb(117,252,232);
    
    display: block;
    width: 23px;
    height: 23px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 500;
}